{
  "httpPort": "7070",
  "cortex-email": "diego+cortex@fmpwizard.com",
  "flowdockAccessToken": "token here", 
  "witAccessToken" : "token here",
  "flows": "fmpwizard/mission-control,fmpwizard/another-flow-here",
  "flowsTicketsUrls" : [
    {"mission-control":  "https://github.com/fmpwizard/go-cortex/issues/"}
  ]
}
